/* Made by BitProxy */

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.item {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.cool-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: rgb(46, 46, 46);
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
.cool-button:hover {
  background-color: rgb(24, 24, 24);
}

.shimmer {
  position: relative;
  width: 200px;
  height: 200px;
  background: linear-gradient(90deg, #f2f2f2 0%, #e6e6e6 50%, #f2f2f2 100%);
  animation: shimmer-animation 2s infinite;
}

.search-bar {
	display: flex;
	align-items: center;
	width: 300px;
	height: 40px;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-bar input {
	flex: 1;
	height: 100%;
	padding: 10px;
	border: none;
	outline: none;
	font-size: 16px;
	background-color: transparent;
	color: rgb(100, 100, 100);
}

.search-bar button {
	width: 40px;
	height: 100%;
	background-color: rgb(46, 46, 46);
	border: none;
	outline: none;
	cursor: pointer;
}
.search-bar button i {
	color: #fff;
}

@keyframes shimmer-animation {
  0% {
    background-position: -200px;
  }
  100% {
    background-position: 200px;
  }
}

h1 {
  font-family: 'Osswald', sans-serif;
  font-size: 62px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  color: #ffffff;
}

h2 {
  color: #ffffff;
  font-family: 'Osswald',sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  margin: 0 0 24px;
}

h3 {
  color: #ffffff;
  font-family: 'Osswald',sans-serif;
  font-size: 28px;
  font-weight: 800;
  line-height: 20px;
  margin: 0 0 24px;
}

p {
  color: #f8f8f8;
  font-family: 'Raleway',sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 24px;
}

li {
  font-family: 'Osswald', sans-serif;
  height: 24px;
  color: rgb(248, 248, 248);
}

body {
  font-family: 'Osswald', sans-serif;
  background-color: rgb(45, 45, 45);
}

@font-face {
  font-family: 'Osswald';
  src: url('https://www.bitx96.com/font/Oswald-Regular.ttf') format('truetype');
}
